body {
    text-align: center;
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/upfeathers.png);
}

.form-container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

input[type=text], input[type=email], input[type=phone], input[type=number], textarea {
    width: 90%;
    margin: 20px auto;
    border: 1px solid white;
    box-shadow: 0 0 1px 1px white;
}
textarea {
    min-height: 150px;
}
.panel {
    background: rgba(0, 0, 0, .2);
    .panel-heading {
        margin-bottom: 20px;
    }
}
.btn-group {
    width: 90%;
    margin: 0 auto 10px auto;
}
.back {
    float: left;
}
.continue {
    float: right;
}
/* Multi-Part CSS */

input[type=checkbox] {
    position: absolute;
    /* Position the checkbox in upper left corner */
    opacity: 0;
}

/* Styling Parts */

#part1, #part2, #part3 {
    z-index: 2;
    display: block;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* Hidden Parts */

#part2, #part3 {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

/* Show Step 2 & Hide Step 1 */

#step2:checked~#part2 {
    opacity: 1;
    height: auto;
}

#step2:checked~#part1 {
    opacity: 0;
    height: 0;
    display: none;
}

/* Show Step 3  & Hide Step 2 */

#step3:checked~#part3 {
    opacity: 1;
    height: auto;
}

#step3:checked~#part2 {
    opacity: 0;
    width: 0;
    height: 0;
}

.image-radio {
    cursor: pointer;
}

.image-radio.selected {
    -webkit-box-shadow: 0px 0px 30px 1px rgba(117, 218, 255, 1);
    -moz-box-shadow: 0px 0px 30px 1px rgba(117, 218, 255, 1);
    box-shadow: 0px 0px 30px 1px rgba(117, 218, 255, 1);
}

.plan-radio {
    cursor: pointer;
}

.plan-radio.selected {
    -webkit-box-shadow: 0px 0px 30px 1px rgba(117, 218, 255, 1);
    -moz-box-shadow: 0px 0px 30px 1px rgba(117, 218, 255, 1);
    box-shadow: 0px 0px 30px 1px rgba(117, 218, 255, 1);
}