<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylesheet.ejs') %>
    <link rel="stylesheet" href="/css/404.css" />
    <title>Ariana-Cloud - 500 error</title>
</head>

<body style="text-align: center !important;">
    <!-- Error Page -->
    <div class="error">
        <div class="container-floud">
            <div class="col-12 ground-color">
                <div class="container-error-404 text-center">
                    <div class="clip">
                        <div class="shadow"><span class="digit thirdDigit"></span></div>
                    </div>
                    <div class="clip">
                        <div class="shadow"><span class="digit secondDigit"></span></div>
                    </div>
                    <div class="clip">
                        <div class="shadow"><span class="digit firstDigit"></span></div>
                    </div>
                    <div class="msg">اوه!<span class="triangle"></span></div>
                </div>
                <h2 class="h1 text-center" style="direction: rtl;"><%= errorTitle %></h2>
                <br>
                <p class="text-right" style="direction: rtl;"><%= errorMessage %></p>
            </div>
        </div>
    </div>
    <!-- Error Page -->
    <%- include ('./partials/javascript.ejs') %>
    <script src='/js/500.js' ></script>
</body>

</html>