<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>اینجی کلش باس ماس تا سال ۲۰۲۱<a href="https://ariana-cloud.com">Ariana-Cloud</a>.</p>
        </div>
    </div>
</div>